<!DOCTYPE html>
<html>
	<head>
		<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<title>Tools</title>
	</head>

	<body>
		<h1><b><u>AkaTec Troubleshooting tool</u></b></h1>
		<form method = "POST" action="result.html"}>
			<div class="form-group">
		  IPv4:
			  	<input type="text" name="ipadd" placeholder="xxx.xxx.xxx.xxx"><br>
			  	<br>
				<input type="checkbox" name="test" value="telnet" checked >telnet
				<input type="checkbox" name="test" value="ping" checked >ping
				<input type="checkbox" name="test" value="traceroute" checked >traceroute
				<input type="checkbox" name="test" value="mtr" checked >mtr
			</div>
			<br>
			<input class="btn btn-primary" type="submit" value="Submit">
			</form>
			<br>
			<br>
			<br>

		<marquee>Designed and developed by Bikal</marquee>
	</body>
</html>

